.App {
  display: flex;
  flex-direction: column;
}
.ModalWindowBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
}
.ModalWindowBody {
  position: absolute;
  background: #fff;
  top: 25px;
  left: 10%;
  right: 10%;
  padding: 15px;
  border: 2px solid #444;
}
.HeroItemLi {
  display: flex;
}